.events-container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 40px;
}

.events-title{
  font-size: 50px;
  height: 20vh;
  font-weight: 600;
}

.events-img{
  display: flex;
  justify-content: center;
  align-items: center;
}

.events-img>div>img{
  border-radius: 20px;
  margin: 10px 30px;
}