.footer-container{
  margin: 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-img{
  margin-right: auto;
}

.footer-social{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.footer-social>div{
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social>div>a{
  text-decoration: none;
  color: white;
}