.intro-container{
  height: 90vh;
  font-weight: 900;
  font-size: 150px;

  background-image: url(../images/animated.gif);
  background-size: 40%;
  background-position:100% 0%;
  background-repeat:repeat;
}